@model Admision.Models.Paciente

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Paciente</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ApellidoPaterno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApellidoPaterno)
            @Html.ValidationMessageFor(model => model.ApellidoPaterno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApellidoMAterno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApellidoMAterno)
            @Html.ValidationMessageFor(model => model.ApellidoMAterno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombres)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombres)
            @Html.ValidationMessageFor(model => model.Nombres)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaNacimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaNacimiento)
            @Html.ValidationMessageFor(model => model.FechaNacimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TelefonoFijo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelefonoFijo)
            @Html.ValidationMessageFor(model => model.TelefonoFijo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MovilMovistar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MovilMovistar)
            @Html.ValidationMessageFor(model => model.MovilMovistar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RPM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RPM)
            @Html.ValidationMessageFor(model => model.RPM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MovilClaro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MovilClaro)
            @Html.ValidationMessageFor(model => model.MovilClaro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RPC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RPC)
            @Html.ValidationMessageFor(model => model.RPC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MovilNextel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MovilNextel)
            @Html.ValidationMessageFor(model => model.MovilNextel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nextel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nextel)
            @Html.ValidationMessageFor(model => model.Nextel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoCivil)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstadoCivil)
            @Html.ValidationMessageFor(model => model.EstadoCivil)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodigoAsegurado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CodigoAsegurado)
            @Html.ValidationMessageFor(model => model.CodigoAsegurado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Estado)
            @Html.ValidationMessageFor(model => model.Estado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaRegistro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaRegistro)
            @Html.ValidationMessageFor(model => model.FechaRegistro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UsuarioRegistro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsuarioRegistro)
            @Html.ValidationMessageFor(model => model.UsuarioRegistro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaModificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaModificacion)
            @Html.ValidationMessageFor(model => model.FechaModificacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UsuarioModificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsuarioModificacion)
            @Html.ValidationMessageFor(model => model.UsuarioModificacion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
